body {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #000484;
}

#root {
  margin: 0 auto;
  padding: 15px;
  max-width: 425px;
  position: relative;
  min-height: 100vh;
}
